<h1>Log In</h1>

  <div class="row">
    <%= form_for(:session, url: login_path(:session)) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "validate" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "validate" %>

      <%= f.submit "Log in", class: "btn" %>
    <% end %>

    <p>
      Want to comment? <%= link_to "Make an account!", signup_path %>
    </p>
  </div>
