<h1>Sign up</h1>
  <div class="row">
    <%= form_for(@user) do |f| %>

      <div class="input-field">
        <%= f.text_field :name, autofocus: true, class: "validate", placeholder: "Name" %>
      </div>
      <div class="input-field">
        <%= f.email_field :email, autofocus: true, class: "validate", placeholder: "Email" %>
      </div>
      <div class="input-field">
        <%= f.password_field :password, :id => "password", placeholder: "Password", class: "validate" %>
      </div>
      <div class="input-field">
        <%= f.password_field :password_confirmation, :id => "password_confirmation", placeholder: "Password Confirmation", class: "validate" %>
      </div>

      <%= f.submit "Create account", class: "btn" %>
    <% end %>
  </div>
