<div class="row">
  <div class="container">
    <%= form_for(:post, url: posts_path) do |f| %>
      <% if @post.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@post.errors.count, "error") %> prevented
          this post from saving.</h2>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </div>
      <% end %>
      <%= f.label :title %>
      </br>
      <%= f.text_field :title %>
      </br>
      <%= f.label :body %>
      </br>
      <%= f.text_field :body, as: :text, class: "text_box", rows: 10 %>
      </br>
      <%= f.submit "Post Edits", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
