<h1 class="title"><%= @post.title %></h1>
<p class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> ago.
</p>

<p class="body">
  <%= @post.body %>
</p>

<%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary" %>
<%= link_to "Delete Post", post_path(@post), class: "btn btn-primary",
    method: :delete, data: { confirm: 'Are you sure?' } %>
