<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul id="dropdown2" class="dropdown-content">
    <li><%= link_to "Blog", root_path %></li>
    <li><%= link_to "About", "#" %></li>
  </ul>

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="https://github.com/sunnlamp">Github</a></li>
    <li><a href="https://www.instagram.com/sunnlamp/">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/rogelio-zamudio-b78180133?trk=hp-identity-name">LinkedIn</a></li>
    <li><a href="mailto:yeyozaz@gmail.com">Email</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper">
        <ul class="items right hide-on-med-down">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Social
            <i class="material-icons right"></i></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Website
            <i class="material-icons right"></i></a></li>
          <li><%= link_to "Log In", login_path, class: "btn" %></li>
          <% if logged_in? %>
            <li><%= link_to "Log Out", logout_path, class: "btn", method: :delete %></li>
            <li><%= link_to "New Post", new_post_path, class: "btn" %></li>
          <% end %>
        </ul>
    </div>
  </nav>

  <div class="main-content row">

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
